<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
</head>
<body>
    <div class= "container-fluid">
      <div class="row">
      <% if alert %>
        <div class="col-12 alert alert-danger"><%= alert %></div>
      <% elsif notice %>
        <div class="col-12 alert alert-info"><%= notice %></div>
      <% end %>
      </div>
    <div class="row">
      <% if user_signed_in? %>
        <div class="col">
          Signed in as:  <strong><%= current_user.email %></strong>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link pull-right' %> -
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link pull-right' %>
        </div>
      <% else %>
        <div class="col">
            <%= link_to "Sign Up", new_user_registration_path, class: 'navbar-link pull-right' %> -
          <%= link_to "Sign In", new_user_session_path, class: 'navbar-link pull-right' %>
        </div>
      <% end %>
    </div>
    </div>
<%= yield %>

</body>
</html>
