<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
</head>
<body>
    <nav class="navbar navbar-light bg-faded">
      <div class="col-8">
      <%= link_to "Blocipedia", root_path, class: "navbar-brand black-text"%>
          <%= link_to "Wiki List", wikis_path, class: 'nav-item btn black-text' %>
          <% if user_signed_in? %>
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-item btn black-text' %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-item btn black-text' %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-item btn black-text" %>
            <%= link_to "Sign In", new_user_session_path, class: "nav-item btn black-text"  %>
          <% end %>
      </div>
      <div class="col-4 text-right">
        <% if user_signed_in? %>
          Signed in as:  <strong><%= current_user.email %></strong>
        <% end %>
      </div>
    </nav>
    <div class= "container-fluid">
      <div class="row">
      <% if alert %>
        <div class="col-12 alert alert-danger"><%= alert %></div>
      <% elsif notice %>
        <div class="col-12 alert alert-info"><%= notice %></div>
      <% end %>
      </div>
    </div>
<%= yield %>

</body>
</html>
